<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<style>

</style>

<script src="/static/script.js"></script>

<body>


        <div>
            <div style="padding: 10px;">
                <label for="userText" >Enter Text Here!</label>
            </div>


                <div style="padding: 10px;">

                    <input id="userText" type="text" placeholder="Enter text here." />
                </div>
                <div style="padding: 10px;">
                    <button type="submit" onclick="sendText()"> Submit</button>
                </div>


            <div id="result" style="padding: 10px;">

            </div>
        </div>


</body>
</html>